body {
    margin: 0;
    padding: 0;
}

.blog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-post-container {
    margin: 20px 15%;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.blog-post-container img {
    width: 500px;
    height: auto;
}

.blog-blurb-container {
    margin-left: 50px;
}

.blog-title {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}


.blog-authour-container {
    display: flex;
    align-items: center;
}

.blog-authour-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.blog-authour-container h6 {
    font-size: 25px;
    margin-left: 10px;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkgray;
}

h1 {
    text-transform: uppercase
}

form {
    display: flex;
    flex-direction: column;

    border: 2px solid black;
    margin: 0 50px;
    padding: 25px 50px;

}

.blog-title-input {
    margin-bottom: 10px;
}

textarea {
  width: 80%;
  height: 150px;
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
  resize: vertical; /* allows user to resize height only */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.blog-tag-input {
    display: flex;
    margin: 20px 0;
}

.blog-tag-input label {
    margin-right: 5px;
}

.blog-tag-input input {
    width: 100%;
}

.submit-post {
    width: 10%
}